h1,
p {
  margin: 0px;
  padding: 0px;
}

li {
  margin-bottom: 5px;
}

body {
  margin: 0px;
  padding: 0px;
  width: 350px;
  height: 300px;
  font-family: 'Arial', 'メイリオ';
  border: 3px solid #000;
}

.popup {
  margin: 10px;
  font-size: small;
}

.bold {
  font-weight: 900;
  color: red;
}
